*{
    margin: 0px;
    padding: 0px;
}
body{
    background: url("img/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    /* background: url(bg.jpg) no-repeat center center/cover; */
}
.container{
    /* border: 12px solid black; */
    position: absolute;
    top:25%;
    left: 38%;
}
.container h1{
    font-size: 40px;
    display: inline-block;
    border-bottom: 5px solid rgb(26, 49, 26);
    margin-bottom: 30px;
    padding: 13px 0px;
}
.box{
    width: 100%;
    /* border: 2px solid white; */
    border-bottom: 2px solid rgb(26, 49, 26);
    margin: 22px 0px;
}
.box input{
    width: 80%;
    background: none;
    /* margin: 13px 0px; */
    border: none;
    padding: 5px 0px;
    font-size: 20px;
    outline: none;
    color: black;
}
.box i{
    width: 25px;
    padding: 0px 5px;
    /* float: left; */
    text-align: center;
}
.btn{
    cursor: pointer;
    outline: none;
    /* width: 25%; */
    margin: 12px 0px;
    /* margin-left: 80px; */
    padding: 10px 21px;
    border-radius: 12px;
    border: 1.8px solid rgb(26, 49, 26);
    font-size: 18px;
    background: none;
    font-weight: bold;
}
.btn:hover{
    color: white;
    background-color: black;
    border: 1.8px solid white;
    opacity: 0.5;
}
@media (max-width:600px){
    .container{
        left: 11%;
    }
}